.mergeImg{
  max-height: 440px;
  border-radius: 5%;
}
.logo img {
  width: 35%;
}
.login-sm img {
  width: 56%;
}
.login-color {
  background: linear-gradient(180deg, #fdd106 0%, #fda906 100%);
}
.login-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}

.welcome {
  background: rgba(253, 209, 6, 1);
  border: 1px solid;
  padding: 0.6rem;
  width: 260px;
  text-align: center;
  border-radius: 0rem 2rem 2rem 0rem;
  box-shadow: 1px 6px 21px -3px grey;
  position: absolute;
  border: none;
  top: 3%;
}

.login-icon {
  width: 45px;
  height: 45px;
  background: black;
  border-radius: 2rem 0 2rem 2rem;
  padding: 7px 15px;
  position: absolute;
  z-index: 9;
  left: 115px;
}

.login-box input {
  width: 300px;
  height: 45px;
  padding: 7px 55px;
  border-radius: 2rem;
  position: relative;
  border: none;
}
.login-box input::placeholder {
  padding-left: 3rem;
}

.login-btn button {
  text-decoration: none;
  background: #303030;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  color: white;
}
.login-btn button:hover {
  color: white;
}
.login-image img {
  height: 258px;
}
.errors{
  color: red;
} 
