.bflgroup-logo img {
  height: 60%;
  text-align: right;
}

.feelings-contents {
  text-align: center;
  h3 {
    letter-spacing: 0.025em;
    color: #383838;
    text-shadow: 0px 3.6214px 4.52675px rgba(0, 0, 0, 0.33);
  }
}
.hedaer-main {
  padding-top: 17px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.buttons-main {
  text-align: center;
  padding: 30px;
  button {
    width: 171px;
    height: 53px;
  }
}

.bflgroup-logo img {
  height: 68%;
  width: 65%;
}

.emogies-section img {
  width: 12%;
}
.main-section {
  background-color: #fff8ef;
  padding: 25px 0 18px 0;
  button {
    margin: 18px;
    background: #fff8ef;
    border: 1px solid #000000;
    border-radius: 12px;
  }
  button:hover {
    background-color: #fece00;
  }
}
.submit-field {
  text-align: center;
  button {
    margin: 10px;
    width: 222px;
    border: none;
    height: 54px;
    background: linear-gradient(180deg, #fedc00 0%, #fec600 100%);
    box-shadow: 0px 4.66667px 4.66667px rgba(0, 0, 0, 0.25);
    border-radius: 18.6667px;
  }
  .submit-button {
    margin-left: 270px;
  }
  .skip-button {
    float: right;
  }
}

@media only screen and (max-width: 550px) {
  .main-section {
    height: 700px;
  }
  .submit-field {
    button {
      width: 200px;
    }
    .submit-button {
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 426px) {
  .submit-field button {
    width: 170px;
  }
}
