
/* REmove Tag Heading */
.stop{
    margin-top: 25px;
    margin-left: 580px;
}
/* REmove Tag Heading */
.shead span{
    margin-top: 43px;
    margin-left: 438px;
    position: absolute;
    z-index: 18;
    font-size: 30px;
    font-weight: 600;
  
}
.scontainer{
    display: flex;
    margin-top: 110px;
    margin-left: 139px;
    min-width: fit-content;
    width: 1140px;
    height: 350px;
    border-top: 6px solid yellow;
    border-bottom: 6px solid yellow;
    position: absolute;
    z-index: 1;
    background-color: #F9F9AC;


}
.sitems{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 6px;
}
.scloths{
    margin-left: 10px;
    height: 90px;
    width: 80px;
}

.sclothtitle{
    font-size: larger;
    padding-right: 20px;
}


.sstatustag{
    padding-left: 10px;
    height: 40px;
    width: 50px;
}

/* Right Side */
.sbg{
    opacity: 0.7;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 320px;
    position: absolute;
    z-index: 3;
    margin-top: 0.5rem;
    margin-left: 48.3rem;
}
.stag{
    width: 15%;
    height: 40%;
    margin-left: 39rem;
    z-index: 8;
    margin-top: 6rem ;
    border-radius: 100%;
}
.stag2{
    margin-left: 50%;
    z-index: 8;
    margin-top: 3rem ;
    border-radius: 100%;
}

/* 
@media(max-width: 768px) {
    .stop{
        margin-top: 2px;
        margin-left: 7%;
    }
    .scontainer-s{
        top: 10%;
        left: 2.6%;
        min-width: 91.29%;
        max-height: 404px;
    
    }
   
    .sitems{
        margin-left: 2px;
        margin-top: 2px;
    }
    .sbg-s{
        max-height: 192px;
        min-width: 211px;
        left: -7.1rem;
    }
    .stag-s{
        margin-left: -1rem;
    }
    .stop{
        margin-left: 29%;
    }
    .shead span{
        margin-top: 2%;
        margin-left: 29%;
        font-size: 4px;
      
    }
    .scontainer-s .scloths{
        width: 40px;
        height: 40px;
      }
      .sclothtitle{
          font-size: 12px;
      }
      .sclothname{
        font-size: 12px;

      }
      .scontainersuccess-s{
        left: 11px;
        top: 66px;
      }
      .sbgsuccess-s{
        left: -72px;
        top: 56px;
        max-width: 298px;
        max-height: 199px
      }
      .stag2-s{
        margin-top: 108px;
        max-width: 213px;
        max-height: 160px;
      }
  }
  
  @media (max-width: 992px) {
    .stop{
        margin-top: 2px;
        margin-left: 37%;
    }
    .shead span{
        margin-top: 5%;
        margin-left: 27%;
        position: absolute;
        z-index: 18;
        font-size: 30px;
        font-weight: 600;
      
    }
    .scontainer{
        margin-top: 10%;
        margin-left: 13.2%;
        width: 86.69%;
        height: 385px;
    
    }
    .scontainersuccess{
        margin-top: 10%;
        margin-left: 14.4%;
        width: 85.39%;
        height: 400px;
    }
    .sbg{
        opacity: 0.7;
        height: 233px;
        margin-left: 37rem;
        margin-top: 5rem;
    }
    .sbgsuccess{
        height: 304px;
        margin-left: 31.2rem;
        margin-top: 2rem;
    }
    .stag{
        width: 15%;
        margin-left: 24rem;
        height: 40%;
        margin-top: 7rem ;
    }
    .stag2{
        margin-left: 29%;
    }
  }
  
  @media (max-width: 1400px) {
    
  }
   */