*{
	line-height: 1.4;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #282828;
}
img{
	max-width:100%;
	max-height:100%
}
header{
	padding: 10px;
}
main .container-fluid{
	border-top: 2px solid #333;
}
.bg-dark{
	background-color: #333333!important;
}
.article-list-nav{
	color: #ffd100;
}
.article-list-nav .bg-dark{
	padding: 12px 15px;
	font-size: 18px;
	font-weight: 600;
}
.article-list-wrapper{
	position: relative;
	padding: 0;
}
#article-list>.row{
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.content-section .fixed-bottom{
	position: sticky;
	background-color: #f1f1f1;
	padding: 14px 0;
}
.content-section{
	display: none;
}
.content-section.is-current{
	display: block;
}
#pay.content-section>*{
	padding: 15px;
	margin: 0;
}
.product-info .brand-name{
	color: #7b7b7b;
	font-weight: 600;
    margin-bottom: 10px;
}
.product-info .product-full-name{
	color: #bdbdbd;
    font-size: 13px;
}
.total, .discount, .price{
	font-size: 18px;
}
.total{
	color: #fc8b8f;
	font-weight: 600;
}

.col.text-left {
    // transform: translatey(10px);
	display: flex;
    align-items: center;
    justify-content: left;
}

.col.text-right {
    /* transform: translateX(-2px); */
    display: flex;
    align-items: center;
    justify-content: right;
}
.remove button{
	background-color: #f02622;
	color: #fff;
	font-size: 14px;
	font-style: italic;
	border-color: transparent;
    padding: 3px 15px;
    text-transform: capitalize;
}
.left-nav{
	color: #fff;
}
.mz-step-indicator span{
	width: 30px;
    height: 30px;
    display: inline-block;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-weight: 600;
}
.nav-header {
    padding: 0 10px 50px;
    position: relative;
}
.nav-header:after{
	content: "";
	width: 2px;
	height: 40px;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
}
.nav-header:last-child:after{
	display: none;
}
.nav-header.is-current .mz-step-indicator span{
	background: #ffd100;
    border-color: #ffd100;
    color: #000;
}
.nav-header.is-complete .mz-step-indicator span{
	background: #75ae52;
    border-color: #75ae52;
    color: #fff;
}
.nav-header>div{
	margin: 8px 0;
}
.card-images img{
	max-width: 50px;
}
.grand-total{
	color: #787878;
	font-size: 22px;
    font-weight: 600;
}
.grand-total span{
	color: #fc8b8f;
}
.action-button{
	padding-top: 5px;
}
.action-button button{
	padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}
.action-button button:hover{
	background-color: #333333;
	color: #fff;
}

@media screen and (max-width: 768px){
	.article-list-nav{
		display: none;
	}
	.content-section .fixed-bottom {
		position: fixed;
		background-color: #f1f1f1;
		padding: 14px 0;
	}

	
	header h1{
		font-size: 24px;
	}
	.nav-header {
	    display: inline-block;
	    max-width: 150px;
	    max-height: 160px;
	    width: 100%;
	    vertical-align: middle;
    	padding: 5px 10px;
	}
	.nav-header:after {
	    content: "";
	    width: 20px;
	    height: 2px;
	    border-radius: 2px;
	    position: absolute;
	    right: -8px;
	    top: 50%;
	}	
}