
html,
body {
	height: 100%;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #282828;
}
img{
	max-width:100%;
	max-height:100%
}

header{
	padding: 11px;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 5;
}
main .container-fluid{
	border-top: 2px solid #333;
}
.bg-dark{
	background-color: #333333!important;
}
.article-list-nav {
    color: #ffd100;
    position: sticky;
    top: 5rem;
    z-index: 5;
    height: 49px;
}
.article-list-nav .bg-dark{
	padding: 12px 15px;
	font-size: 18px;
	font-weight: 600;
}
.article-list-wrapper{
	position: relative;
	padding: 0;
}
#article-list>.row{
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}
.content-section {
    position: relative;
    width: 100%;
    left: 10rem;
    margin-bottom: 4rem;

.fixed-bottom {
    position: fixed;
    background-color: #f1f1f1;
    padding: 14px 0;
    bottom: 0px;
    left: 9.4rem;
}
}
.article-list-wrapper .product-list-main{
	padding: 1rem 2rem ;
	border-bottom: 1px solid #BBBBBB;
	margin-left:2rem;
}
.product-scan-main{
	padding: 2rem 0rem ;
	border-bottom: 1px solid #BBBBBB;
	margin-left:2rem;
}

.content-section.is-current{
	display: block;
}
#pay.content-section>*{
	padding: 15px;
	margin: 0;
}
.product-info .brand-name{
	color: #7b7b7b;
	font-weight: 600;
    margin-bottom: 10px;
}
.product-info .product-full-name{
	color: #bdbdbd;
    font-size: 13px;
}
.total, .discount, .price{
	font-size: 18px;
}
.total{
	color: #fc8b8f;
	font-weight: 600;
}

.col.text-left {
    // transform: translatey(10px);
	display: flex;
    align-items: center;
    justify-content: left;
	img{
		width: 150x;
	}
}

.col.text-right {
    /* transform: translateX(-2px); */
    display: flex;
    align-items: center;
    justify-content: right;
	img{
		width: 150px;
	}
}
.remove button{
	background-color: #f02622;
	color: #fff;
	font-size: 14px;
	font-style: italic;
	border-color: transparent;
    padding: 3px 15px;
    text-transform: capitalize;
}
.card-images img{
	max-width: 50px;
}
.grand-total{
	color: #787878;
	font-size: 22px;
    font-weight: 600;
}
.grand-total span{
	color: #fc8b8f;
}
.action-button{
	padding-top: 5px;
}
.action-button button{
	padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}
.action-button button:hover{
	background-color: #333333;
	color: #fff;
}


@media only screen and (max-width:1980px) {
	.action-button {
		padding-top: 5px;
		text-align: right;
		padding-right: 2rem;
		button {
			margin: 0 10px;
		}
	}
	
}
@media only screen and (max-width:1024px) {
	.content-section {
		left: 0;
	}
	
}
@media only screen and (max-width:992px) {
	header{
		position: relative;
	}
	.article-list-nav {
		position: relative;
		top: 0;
	}
	.content-section {
		left: 0rem;
	}
	.left-nav {
		height: 83vh !important;
	}
	
}

@media screen and (max-width: 768px){
	.article-list-nav{
		display: none;
	}
	.content-section .fixed-bottom {
		position: fixed;
		background-color: #f1f1f1;
		padding: 14px 0;
	}

	
	header h1{
		font-size: 24px;
	}
	.article-list-wrapper{
		width: 100%;
		.product-list-main {
		 margin-left: 0;
		}
	}
	.content-section {
		.fixed-bottom {
			position: static;
			left: 0;
			width: 100%;
		}
	}
	
}


@media only screen and(max-width:426px) {
	.card-images {
		width: 100%;
		padding: 10px;
		img{
			margin: 10px;
		}
	}
	.grand-total {
		width: 50%;
	}
	.action-button {
		width: 60%;
		padding: 1rem 1rem;
		button{
			margin: 0 2px;
		}
	}
	.product-image {
		text-align: center;
		width: 100%;
	}
	.product-info {
		width: 100%;
		padding-top: 1rem;
		text-align: center;
	}
	.price {
		width: 100%;
		padding: 1rem;
	}
	.discount {
		width: 100%;
	}
	.total {
		width: 100%;
		padding: 1rem;
	}
	.remove {
		width: 100%;
		text-align: center;
	}
}