
.gobutton-btn{
    height: 90px;
    width: auto;
    position: fixed;
}
.go-btn{
    /* background-color: #FEB23B; */
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: white;
    
}
.img-goback{
    margin: 10px;
}
.Paytext1 {
    display: flex;
    flex-direction: column;
    left: 600px;
    
    min-height: 94px;
    position: fixed;
    top: 11px;
    width: 439px;
  }
  
  .title {
    min-height: 59px;
    min-width: 439px;
  }

  .bfl-logo{
    height: 67px;
    margin-top: 10px;
    margin-left: 83%;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 232px;
    z-index: 1;
  }
  .BackGround{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    width: 139px;
    background-color:#333333;
    height: 40rem;
      
  }
  .StatusTick {
    display: flex;
    height: 49px;
    min-width: 49px;
    padding: 50px 15.5px;
    margin-left: 35px;
  }
  .vector {
    height: 50px;
    width: 50px;
    margin-top: -10px;
    margin-left: -6px;
  }
  .article-list {
   margin-top: 11rem;
   margin-left: 2rem;
    position: fixed;
    color: #fff;
    top: 0;
    z-index: 1;
  }
 .line-1 {
   margin-top: 1.7rem;
   height: 50px;
   position: fixed;
   margin-left: -2.3rem;
  }
  .line-2 {
    margin-top: 1.7rem;
    height: 50px;
    position: fixed;
    margin-left: -0.8rem;
   }
   .line-3{
    position: fixed;
       margin-top: 1.7rem;
       margin-left: -2.7rem;
       height: 50px;
   }
 .number-1{
     margin-top: 4.5rem;
     margin-left: 2.8rem;
 }
 .remove-tag {
     margin-left: -1.8rem;
 }
 .recipt{
     color: #ffff;
     margin-left: 3rem;
 }
  .back-design {
    align-items: center;
    margin-top: 11px;
    min-width: 1500px;
    margin-left: 9.9rem;
    margin-bottom: 30rem;
    background-color:#FEB23B;
    border-bottom-right-radius: 700%;
    border-bottom-left-radius: 500%;
    z-index: 2;
  }
  .top-image{
      margin-left: 10%;
  }

  .down-design {
    margin-top: -1.6rem;
    margin-left: 139px;
    height: 120px;
    width: 1288px;
  }
  .cardmain{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form-back{
    border-radius: 10px;
    border:  2px solid #333333;
    /* position: relative; */
    width: 20rem;
    height: 20rem;
    background-color: white;
    /* z-index: 18; */
    margin-top: 15rem;
    margin-left: 11rem;
   
  }
  .cardmain :hover{
    background-color: #FEB23B;

  }
  .p1{
      margin-left: 13rem;
  }
  .form-back h1{
      margin-top: 15rem;
      margin-left: 3rem;
      /* position: absolute; */
      font-size: 1.5rem;
  }
  .png-all {
    border:  2px solid #333333;
    /* position: absolute; */
    margin-top: 1rem;
    margin-left: 5rem;
    align-items: flex-start;
    background-color: rgba(245, 240, 240, 0);
    border-radius: 79.5px;
    display: flex;
    flex-direction: column;
    min-height: 159px;
    padding: 33px 15px;
    width: 159px;
    z-index: 25;
  }
  
  .digital-img{
    align-self: center;
    height: 80px;
  }
  .text1 h1{
    align-items: center;
    margin-left: 5rem;
  }
  .print-reciept {
    width: 70px;
    align-self: center;
  }
  .text2 h3{
    align-items: center;
    margin-left: 5.4rem;
  }
  .text3 h2{
    align-items: center;
    margin-left: 2.9rem;
  }
  .no-reciept{
    align-self: center;
    width: 85px;
  }
@media (max-width: 768px) {
 
  
}

@media (max-width: 992px) {
  
}

@media (max-width: 1400px) {
 
  
}
