
.gobutton-btn{
    height: 90px;
    width: auto;
    position: fixed;
}
.go-btn{
    /* background-color: #FEB23B; */
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: white;
    
}
.img-goback{
    margin: 10px;
}
.Paytext1 {
    display: flex;
    flex-direction: column;
    left: 501px;
    min-height: 94px;
    position: fixed;
    top: 11px;
    width: 439px;
  }
  
  .title {
    min-height: 59px;
    min-width: 439px;
  }

  .bfl-logo{
    height: 67px;
    margin-top: 10px;
    margin-left: 83%;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 232px;
    z-index: 1;
  }
  .BackGround{
    position: absolute;
      margin-top: 20px;
      margin-left: 10px;
      width: 139px;
      background-color:#333333;
      height: 40rem;
      border-radius: 10px;
  }
  .StatusTick {
    display: flex;
    height: 49px;
    min-width: 49px;
    padding: 50px 15.5px;
    margin-left: 35px;
  }
  .vector {
    height: 40px;
    width: 40px;
  }
  .article-list {
   margin-top: 11rem;
   margin-left: 2rem;
    position: fixed;
    color: #fff;
    top: 0;
    z-index: 1;
  }
 .line-1 {
   margin-top: 1.7rem;
   height: 50px;
   position: fixed;
   margin-left: -2.3rem;
  }
  .line-2 {
    margin-top: 1.7rem;
    height: 50px;
    position: fixed;
    margin-left: -0.8rem;
   }
   .line-3{
    position: fixed;
       margin-top: 1.7rem;
       margin-left: -2.7rem;
       height: 50px;
   }
 .number-1{
     margin-top: 4.5rem;
     margin-left: 2.8rem;
 }
 .remove-tag {
     margin-left: -1.8rem;
 }
 .pay-list{
     color: #ffff;
     margin-left: 3.5rem;
 }
  .back-design {
    align-items: center;
    margin-top: 20px;
    min-width: 1500px;
    margin-left: 22.5rem;
    margin-bottom: 30rem;
    /* border-radius: 10px; */
    background-color:#FEB23B;
    border-bottom-right-radius: 700%;
    border-bottom-left-radius: 500%;
    z-index: 2;
  }
  .top-image{
      margin-left: 10%;
  }

  .down-design {
    margin-top: -1.6rem;
    margin-left: 138px;
    height: 120px;
    width: 1288px;
  }
  .cardmain{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form-back{
    border-radius: 10px;
    border:  2px solid #333333;
    position: relative;
    width: 20rem;
    height: 20rem;
    background-color: white;
    z-index: 18;
    margin-top: 15rem;
    margin-left: 10rem;
   
  }
  .p1{
      margin-left: 13rem;
  }
  .form-back h1{
      margin-top: 15rem;
      margin-left: 3rem;
      position: absolute;
      font-size: 1.5rem;
  }
  .group-197 {
    border:  2px solid #333333;
    position: absolute;
    margin-top: 1rem;
    margin-left: 5rem;
    align-items: flex-start;
    background-color: rgba(245, 240, 240, 0);
    border-radius: 79.5px;
    display: flex;
    flex-direction: column;
    min-height: 159px;
    padding: 33px 15px;
    width: 159px;
    z-index: 25;
  }
  
  .x35-351793_credit-or {
    align-self: center;
    height: 36px;
    margin-right: 2px;
    width: 59px;
  }
  
  .flex-row {
    align-items: flex-start;
    display: flex;
    margin-top: 7px;
    min-width: 127px;
  }
  
  .x35-351793_credit-or-1 {
    height: 36px;
    width: 59px;
  }
  
  .group-40 {
    height: 36px;
    margin-left: 9px;
    width: 59px;
  }

  .gift-card-img{
    align-self: center;
    margin-top: 20px;
  }
  .wallet-img{
    align-self: center;
    margin-top: 15px;
    height: 70px;
    width: 80px;
  }
  .form-back h2{
    margin-top: 15rem;
    margin-left: 7.5rem;
    position: absolute;
    font-size: 1.5rem;
  }
  .form-back h3{
    margin-top: 15rem;
    margin-left: 6.5rem;
    position: absolute;
    font-size: 1.5rem;
  }

  
@media (max-width: 768px) {
  .form-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }
  
}

@media (max-width: 992px) {
  .form-back{
    border-radius: 10px;
    border:  2px solid #333333;
    position: relative;
    width: 20rem;
    height: 20rem;
    background-color: white;
    z-index: 18;
    margin-top: 15rem;
    margin-left: 10rem;
   
  }
}

@media (max-width: 1400px) {
  .form-back{
    border-radius: 10px;
    
    width: 20rem;
    height: 20rem;
   
   
   
  }
  
}
