.drop-item-main {
  background-color: #fed400;
  border-radius: 0 28rem 0 0;
  text-align: center;
  background-image: url(../../assets/images/items/back-vector.png);
  background-repeat: no-repeat;
  background-size: 75rem;

  .logo-main {
    float: right;
    padding-right: 7px;
  }
  .bfl-main-logo {
    text-align: right;
    height: 74px;
    padding-top: 0.5rem;
  }
  .cart-main {
    margin-bottom: 15px;
  }
}
.items-main img {
  width: 80%;
  height: 480px;
}

@media only screen and (max-width:1440px) {
  .item-main {
    height: 100vh;
}
  
}

@media (max-width: '968px') {
  .drop-item-main {
    background-size: 54rem;
}
}

@media (max-width: '1024px') {
  .item-main {
    height: 100vh;
}
  .drop-item-main {
    background-size: 77rem;
     .cart-main {
      position: relative;
      top: 7rem;
  }
  .cloth-main{
    position: relative;
      top: 7rem;
  }
}
}
@media only screen and (max-width:992px) {
  .item-main {
    height: 150vh;
}
  
}

@media only screen and (max-width:768px){
  .items-main img {
    width: 80%;
    height: 290px;
}
}
@media  only screen  and (max-width:580px){
  .item-main {
    height: 115vh;
} 
  
}
