.bfl-logoforcart{
    height: 64px;
    margin-top: 10px;
    margin-left: 998px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 232px;
    z-index: 1;
}

.sidebaratc{
    position: absolute;
    margin-top: 71px;
    width: 139px;
    background-color:#333333;
    min-height: 530px;
    max-width: 550px;
}