.title-pay-done{
    letter-spacing: 0;
    min-height: 59px;
    margin-left: 38%;
    margin-top: 10px;
}
.bgl-logo-pay-done{
    height: 67px;
    left: 83%;
    object-fit: cover;
    position: fixed;
    top: 10px;
    width: 232px;
    z-index: 1;
}
.bgl-logo-pay-done-down-img{
    background-color:  #f2ead8;;
    height: 625px;
    width: 1390px;
    margin-left: 9.5%;
    margin-top: -15px;
}

.BackGround-pay{
    position: absolute;
      margin-top: -15px;
      margin-left: 10px;
      width: 139px;
      background-color:#333333;
      height: 625px;
  }
  .StatusTick-pay {
    display: flex;
    height: 49px;
    min-width: 49px;
    padding: 50px 15.5px;
    margin-left: 35px;
  }
  .vector-pay {
    height: 49px;
    width: 49px;
    margin-top: -7px;
    margin-left: -5px;
  }
  .article-list-pay {
   margin-top: 11rem;
   margin-left: 2rem;
    position: fixed;
    color: #fff;
    top: 0;
    z-index: 1;
  }
 .line-1-pay {
   margin-top: 1.7rem;
   height: 50px;
   position: fixed;
   margin-left: -2.3rem;
  }
  .line-2-pay {
    margin-top: 1.7rem;
    height: 50px;
    position: fixed;
    margin-left: -0.8rem;
   }
   .line-3-pay{
    position: fixed;
       margin-top: 1.7rem;
       margin-left: -2.7rem;
       height: 50px;
   }
 .number-1-pay{
     margin-top: 4.5rem;
     margin-left: 2.8rem;
 }
 .remove-tag-pay {
     margin-left: -1.8rem;
 }
 .pay-list-pay{
     color: #ffff;
     margin-left: 3.5rem;
 }
 .subtract{
    box-sizing: border-box;
    position: absolute;
    width: 1206px;
    height: 406px;
    left: 250px;
    top: 110px;
    background: linear-gradient(84.12deg, #FFAF13 0%, #FFD065 100%);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.90);
 }
 .total-amount{
    position: absolute;
    width: 226px;
    height: 46px;
    left: 13px;
    top: 6px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 38.0408px;
    line-height: 46px;
    color: #333333;
 }
 .Paymenthasbeenrecivedfrom{
    position: absolute;
    width: 439px;
    height: 37px;
    left: 13px;
    top: 159px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30.9405px;
    line-height: 37px;
    color: #333333;
    
 }
 .AED{
    position: absolute;
    width: 77px;
    height: 49px;
    left: 545px;
    top: 6px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 40.8351px;
    line-height: 49px;
    color: #333333;
 }
 .price{
    position: absolute;
    width: 116px;
    height: 49px;
    left: 1067px;
    top: 6px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 40.8351px;
    line-height: 49px;
    color: #333333;
 }
 .visa-img-pay-done{
    position: absolute;
    width: 76px;
    height: 47.21px;
    left: 494px;
    top: 126px;
    filter: drop-shadow(0px 4.60606px 4.60606px rgba(0, 0, 0, 0.25));
 }
 .No{
    position: absolute;
    width: 303px;
    height: 49px;
    left: 6px;
    top: 345px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30.8351px;
    line-height: 49px;
    color: #333333;
 }
 .AED2{
    position: absolute;
    width: 83px;
    height: 48px;
    left: 545px;
    top: 344px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40.8351px;
    line-height: 48px;
    color: #333333;
 }
 .Final-price{
    position: absolute;
    width: 116px;
    height: 49px;
    left: 1082px;
    top: 338px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 40.8351px;
    line-height: 49px;
    color: #333333;
 }